/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/*END STARTER CODE*/

body{
  font-family: 'Andika', sans-serif; 
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  background-image: url("../images/pigeon-background.JPEG");
  background-color: #DDDDDD;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

h1{
  color: #c12258;
  font-size: 2em;
  text-align: center;
  line-height: 200%;
}

p{
  padding-top: 15px; 
}

a{
  font-size: 16px;
  color: #B21F50;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

a:focus { 
  border: 2px #417243;
}

td {
  text-align: center; 
  border-top: 2px solid black; 
  padding: 10px; 
}

tr {
  text-align: center; 
  border-top: 2px solid black; 
  padding: 10px; 
}

/*Req 6b*/
.colhead{
  color: #FFFFFF;
  vertical-align: middle;
  text-transform: uppercase; 
  padding: 10px;
  background-color: #7e0820;
  text-align: center;
  min-width: 125px; 

}
/*Req 6c*/
.rowhead{
  border: 2px solid black; 
  padding: 10px; 
}

tr:nth-of-type(odd) {
  background-color: transparent;
}

tr:nth-of-type(even) { 
  background-color: #D1D1D1;
}

tr:hover { 
  background-color: rgba(126, 8, 32, 0.25);
}

/*Req 7*/
table{
  margin-left: auto; 
  margin-right: auto;
  border: 2px solid #000000;
  border-radius: 10px 10px 10px 10px;

  
}

thead tr:first-child th:first-child {
  border-radius: 10px 0 0 0; 
  border-spacing: 0px; 
}  

thead tr:last-child th:last-child {
  border-radius: 0 10px 0 0; 
  border-spacing: 0px; 
}

tbody tr:last-child th:first-child {
  border-radius: 0 0 0 10px; 
  border-spacing: 0px; 
}

tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0; 
  border-spacing: 0px; 
}

footer{
  width:100%;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  min-height: 75px;
  bottom: 0px; 
  position: fixed; 
  bottom: 0;
  left: 0; 
}

